* {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.registration{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    /* padding-bottom: 10px; */
    padding-top: 10px;
    position: relative;
    text-align: center;
    width: 100%;
}

img {
    height: 80px;
    width: 225px;

}
p{
    margin: 15px;
    color: rgba(0, 0, 0, 0.604);
    font-size: 15px;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.form-container {
    width: 70%;
    margin: 0 auto;
    padding-top: 35px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.form-group:last-child {
    margin-right: 0px;
}

label {
    margin-bottom: 10px;
    font-style: normal;
    color: #0056b3;
}

input, select {
    padding: 16px;
    font-size: 14px;
    border: 1px solid #84c91d; /* Green border */
    border-radius: 5px;
    
}

input::placeholder, select {
    color: #ccc;    
}

input:active {
   border: #0d6db7;
}
.tab-menu {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #ddd;
    padding: 5px;
}

.tab-menu a {
    padding: 7px 12px;
    text-decoration: none;
    color:#007bff;
    /* font-family: Arial, sans-serif; */
    border: 1px solid transparent;
    margin-right: 2px;
    border-radius: 2px;
    border: 1px solid #ddd;
    border-bottom: 2px solid #fff;
    background-color: #f9f9f9;
}

.tab-menu a:hover {
    border-bottom: 1px solid #fff;
    background-color: #f9f9f9;
}

.tab-menu a.active {
    border: 1px solid #ddd;
    border-bottom: 2px solid #fff;
    background-color: silver;
    /* font-weight: bold; */
    color: #2e8b57;
}


button {
    padding: 15px 20px;
    background-color: #0d6db7;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    
}
button:hover {
    background-color: #0d6db7;
}